<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>BeagleBone Event Creator</title>

  </head>

  <body>


    <div class="transparent">
      <h1 class="center2">Create A New Recording Trigger</h1>

        <table class="center">
          <tr>
            <td>
              <label for="eventName">Name of New Trigger:</label>
            </td>
            <td>
              <input type="text" id="eventName" name="eventName" required minlength="1" maxlength="50" size="30">
            </td>
          </tr>
          <tr>
            <td>
              <label for="eventTime">Time (hh:mm):</label>
            </td>
            <td>
              <input type="text" id="eventTime" name="eventTime" required minlength="1" maxlength="50" size="30">
            </td>
          </tr>
          <tr>
            <td>
              <label for="eventDate">Date (YYYY-MM-DD):</label>
            </td>
            <td>
              <input type="text" id="eventDate" name="eventDate" required minlength="1" maxlength="50" size="30">
            </td>
          </tr>
          <tr>
            <td>
              <label for="eventFrequency">Frequency (kHz):</label>
            </td>
            <td>
              <input type="text" id="eventFrequency" name="eventFrequency" required minlength="1" maxlength="50" size="30">
            </td>
          </tr>
          <tr>
            <td>
              <label for="eventDuration">Duration of Recording (seconds):</label>
            </td>
            <td>
              <input type="text" id="eventDuration" name="eventDuration" required minlength="1" maxlength="10" size="30">
            </td>
          </tr>
          <tr>
            <td>
              <label for="eventRepeat">Repeat (Weekly):</label>
            </td>
            <td>
              <input type="checkbox" id="eventRepeat" name="eventRepeat" size="30">
            </td>
          </tr>
        </table>

        <br>

        <button type="button" id = "createEvent" class="center">Make Event</button>


        <link rel="stylesheet" href="../static/EventCreator.css"/>
        <script src="../static/EventCreator.js"></script>
  </body>
</html>
