body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HPOKFbR/audio-waveform-animation-simple-black-and-white-sound-wave-as-motion-background_vrgwksede__F0000.png");
}
.transparent {
  position: absolute;
  margin-top: 40px;
  padding-bottom: 10px;
  margin-left: 30%;
  left: 30px;
  background:#7f7f7f;
  background:rgba(150,150,150,0.95);
  width: 500px;
}
.center{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.center2{
  margin-left: 22%;
  margin-right: 22%;
  text-shadow: 1px 1px #FFFFFF;
}
